<div class="header__search">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field search__field">
            <svg class="icon icon-search search__icon" aria-hidden="true" focusable="false">
                <use href="#icon-search"></use>
            </svg>
            <input class="search__input field__input"
                   id="{{ input_id }}"
                   type="search"
                   name="q"
                   value="{{ search.terms | escape }}"
                   placeholder="{{ 'general.search.search' | t }}"
                   {%- if settings.predictive_search_enabled -%}
                   role="combobox"
                   aria-expanded="false"
                   aria-owns="predictive-search-results"
                   aria-controls="predictive-search-results"
                   aria-haspopup="listbox"
                   aria-autocomplete="list"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off"
                   spellcheck="false"
                   {%- endif -%}
            >
            <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset"></use>
                </svg>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search" aria-hidden="true" focusable="false">
                    <use href="#icon-search"></use>
                </svg>
            </button>
        </div>
    </form>
</div>
